<html>
  <head>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </head>
  <body>
    <h1>Lotto Number Generator</h1>
    <button onclick="requestNumbers()">Generate Number</button>
    <script src="assets/js/application.js"></script>
  </body>
</html>
